<div class="row" style="text-align: center:">
  <div class="col-md-12">
    <h1>Young Tutors has been renamed to GuruMe</h1>
    <h2>Please visit the url <a href ="www.youngtutors.com">www.gurume.co.uk</a></h2>
  </div>
</div>