<br>
<div class="container">
  <div class="row" style="text-align: center;">   
    <div class="col-md-12">
      <h1>Young Tutors has been renamed to GuruMe</h1>
      <h2>Please visit the url <a href ="www.youngtutors.com">www.gurume.co.uk</a></h2>
    </div>
    <div class="col-md-12">
      <img src="/assets/brand.png" style="width:250px; margin-top:30px;">
    </div> 
</div>
</div>
<br>
<br>
<img src="/assets/youngtutors.png" style="max-width:100%">